<style>
body {
  font-family: sans-serif;
  color: #000033;
  background-color: #ffffff
}
a:link    { text-decoration:none; }
a:visited { text-decoration:none; }
a:active  { text-decoration:none; }
a:hover   { text-decoration:underline; }
a.title1:link    { text-decoration:none; color : #000080 }
a.title1:visited { text-decoration:none; color : #000080 }
a.title1:active  { text-decoration:none; color : #000080 }
a.title1:hover   { text-decoration: underline; color : #000080 }
a.next:link    { text-decoration:none; color : #000080; font-size : large; font-family : monospace }
a.next:visited { text-decoration:none; color : #000080; font-size : large; font-family : monospace }
a.next:active  { text-decoration:none; color : #000080; font-size : large; font-family : monospace }
a.next:hover   { text-decoration: underline; color : #000080; font-size : large; font-family : monospace }
a.dataDownload:link    { text-decoration:none; color : #000080; font-size : large; font-family : monospace }
a.dataDownload:visited { text-decoration:none; color : #000080; font-size : large; font-family : monospace }
a.dataDownload:active  { text-decoration:none; color : #000080; font-size : large; font-family : monospace }
a.dataDownload:hover   { text-decoration: underline; color : #000080; font-size : large; font-family : monospace }

.xxs { font-size : xx-small }
.xs  { font-size : x-small }
.s   { font-size : small }
.m   { font-size : medium }
.l   { font-size : large }
.xl  { font-size : x-large }
.xxl { font-size : xx-large }
.smaller { font-size: smaller }
.larger  { font-size: larger }

.title {
  color            : #003300;
  font-weight      : bold
}
.titleMessage {
  font-size        : small;
  line-height      : 80%
}
.square {
  color            : #000099
}
.dataCount1 {
  font-size        : small;
  font-family      : monospace
}
.dataCount2 {
  font-size        : small;
  font-family      : monospace;
  font-weight      : bold
}
.sublink {
  font-size        : small;
  font-family      : monospace
}
.errorMessage {
  font-size        : small;
  color            : #dc143c
}

td.title1 {
  text-align       : left;
  background-color : #bbffbb
}
td.title2 {
  text-align       : left;
  background-color : #eeeeff
}
td.menuTitle1 {
  text-align       : left;
  font-size        : large;
  background-color : #eeffff
}
td.menuTitle2 {
  text-align       : right;
  font-size        : small;
  font-family      : monospace;
  color            : #0000ee;
  width            : 160px;
  background-color : #ccffcc
}
td.menuTitle3 {
  text-align       : left;
  background-color : #ccffcc
}
td.resultWhere1 {
  text-align       : right;
  font-size        : small;
  font-family      : monospace;
  color            : #0000ee;
  width            : 100px
}
td.resultWhere2 {
  text-align       : left;
  font-size        : small;
  font-family      : monospace
}
th.result {
  font-size        : small;
  font-family      : monospace;
  background-color : #dcdcdc;
  white-space      : nowrap
}
tr.result1 {
  background-color : #ffffff
}
tr.result1 {
  background-color : #ffffcc
}
td.result1 {
  text-align       : left;
  font-size        : small;
  font-family      : monospace;
  white-space      : nowrap
}
td.result2 {
  text-align       : center;
  font-size        : small;
  font-family      : monospace;
  white-space      : nowrap
}
td.result3 {
  text-align       : right;
  font-size        : small;
  font-family      : monospace;
  white-space      : nowrap
}
</style>